@media(max-width: 830px) {
    .question-wrapper {
        flex-wrap: wrap;
    }
    .img-container,
    img {
        width: 60vw;
        margin: 0 auto;
        padding: 0 0 1rem;
        height: auto;
    }
    label {
        width: 50vw;
    }
    h3 span {
        float: none;
        white-space: nowrap;
    }
}

@media(max-width: 590px) {
    .wrapper {
        width: 90vw;
        margin: 0 auto;
        padding: 0;
    }
    .question-wrapper {
        justify-content: initial;
        width: 100%;
    }
    button {
        // width: 45vw;
        width: 100%;
        margin: 0 auto;
    }
    .img-container,
    img {
        width: 90vw;
        padding: 0 0 0.5rem;
    }
    label {
        width: 80vw;
    }
    .form-button {
        margin: 0.4em auto;
    }
    .answer-img-container img {
        width: 100%;
        height: 100%;
    }
    .answer-img-container img:nth-child(n+2) {
        display: none;
    }
}