body {
    font-family: 'Alfa Slab One', cursive;
}

h1,
h2 {
    font-size: calc(32px + (85 - 32) * ((100vw - 300px) / (1600 - 300)));
    color: rgb(194, 82, 82);
    text-transform: capitalize;
}

h2 {
    font-size: 35px;
    padding: 0.5rem 0 1rem;
}

h3,
label {
    font-size: 18px;
    font-family: 'Libre Baskerville', serif;
}

button {
    font-size: calc(18px + (25 - 18) * ((100vw - 300px) / (1600 - 300)));
}