html {
    scroll-behavior: smooth;
}

.wrapper {
    width: 85vw;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

h2 {
    background-color: #640D36;
    color: white;
    width: 100%;
    padding: 1em;
}

.question-wrapper {
    display: flex;
    gap: 5%;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 2em;
    background-color: rgb(243, 243, 234);
}

ul {
    padding: 0.5em;
    // width: calc((100% / 2));
    // display: flex;
    flex: 1 0 400px;
    // justify-content: left;
    list-style: none;
}

label {
    list-style: none;
    background-color: #2ea4d6;
    // margin: 0 1em;
    // margin: 1em;
    padding: 1em;
    line-height: 1rem;
    border: solid 0.2em #2ea4d6;
    // width: 15rem;
    display: flex;
}

input[type='radio'] {
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    margin-right: 1rem;
}

.img-container,
.country-img {
    background: url('../../assets/icons8-spinner.gif') no-repeat center;
    background-size: 55px;
    // padding: 1rem;
    // margin: 0 auto;
    border: solid 3px red;
    width: 30vw;
}

img {
    width: 100%;
    // max-width: 100%;
    height: auto;
    // padding: 2em 2em;
}

button {
    background-color: lightgray;
    width: calc((100% / 2) - 1em);
    padding: 1em 1em;
    margin: 1em 1em;
}

button {
    background-color: #640D36;
    color: white;
}

.button-next button {
    margin-left: 0.6em;
}

.form-button {
    background-color: rgb(219, 226, 233);
    color: rgb(37, 37, 37);
    border: solid 0.2em rgb(219, 226, 233);
}

// ***************************************
//dynamically added content on answer page
// ***************************************
.answer-wrapper {
    width: 80%;
    // align-items: center;
    text-align: center;
    // margin: 1em auto 1em;
}

.answers {
    width: 50%;
}

.answer-wrapper button {
    margin-top: 0;
}

.answer-img-container {
    display: flex;
    flex-wrap: wrap;
    // flex: 1 0 200px;
}

.answer-img-container img {
    width: calc((100% / 3) - 0.5rem)
}